[submodule "core"]
  path = core
  url = https://github.com/empirical-org/quill-core.git
[submodule "api"]
  path = api
  url = https://github.com/empirical-org/quill-api.git
[submodule "quill"]
  path = quill
  url = https://github.com/empirical-org/quill.git
[submodule "questions-module"]
  path = questions-module
  url = https://github.com/empirical-org/quill-questions-module.git
