[submodule "Compass-Common"]
  path = Compass-Common
  url = git@github.com:symondsandson/Compass-Common.git
[submodule "Compass-API"]
  path = Compass-API
  url = git@github.com:symondsandson/Compass-API.git
[submodule "Compass"]
  path = Compass
  url = git@github.com:symondsandson/Compass.git
[submodule "Quill-Lessons"]
  path = Quill-Lessons
  url = git@github.com:symondsandson/Quill-Lessons.git

